<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harry Potter Quest JPA</title>
</head>
<body>

<h1>Registrations in <span th:text="${school.name}"></span></h1>

<div>Max school capacity: <span th:text="${school.capacity}"></span></div>

<div style="display:flex; flex-direction:row">
    <div style="margin-right: 30px">
        <h2>Registered students</h2>
        <table>
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
                <th>Birth place</th>
                <th>Biography</th>
                <th>Is Muggle ?</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wizard : ${wizards}">
                <td th:text="${wizard.firstName}"></td>
                <td th:text="${wizard.lastName}"></td>
                <td th:text="${wizard.birthday}"></td>
                <td th:text="${wizard.birthPlace}"></td>
                <td th:text="${wizard.biography}"></td>
                <td th:text="${wizard.isMuggle}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h2>Add a new student to this school: </h2>
        <form action="/registration" method="post">
            <input th:value="${school.id}" name="schoolId" type="hidden">
            <select name="wizardId">
                <option th:each="wizard : ${wizardsNotRegistered}"
                        th:value="${wizard.id}"
                        th:text="${wizard.id} + ' - ' + ${wizard.firstName} + ' ' + ${wizard.lastName}"
                >
                </option>
            </select>
            <input type="submit" value="Send">
        </form>
    </div>
</div>

</body>
</html>