<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harry Potter Quest JPA</title>
</head>
<body>

<h1>Create new school</h1>

<form action="/school" method="post">
    <label for="school-name">Name:</label>
    <input id="school-name" name="name" placeholder="Hogwarts" required type="text">

    <label for="school-capacity">Capacity:</label>
    <input id="school-capacity" name="capacity" placeholder="450" required type="number">

    <label for="school-country">Country:</label>
    <input id="school-country" name="country" placeholder="United Kingdom" required type="text">

    <input type="submit" value="Send">
</form>

</body>
</html>