<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harry Potter Quest JPA</title>
</head>
<body>

<h1>School successfully created/updated</h1>

<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${school.name}"></td>
            <td th:text="${school.capacity}"></td>
            <td th:text="${school.country}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>